<%- include("header") -%>


  <div class="box" id="heading">
    <h1>
      <%=listtitle%>
    </h1>
  </div>

  <div class="box">
    <form action="/delete" method="post">
      <% NewListItems.forEach(function(item){ %>
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
          <p>
            <%= item.name %>
          </p>
        </div>

        <% }) %>
        <input type="hidden" name="ListName" value="<%=listtitle%>">
    </form>

    <form class="item" action="/" method="post">
      <input type="text" name="input" placeholder="Enter your todo" autocomplete="off">
      <button type="submit" name="list" value=<%=listtitle%> > + </button>
    </form>


  </div>

  <%- include("footer") -%>